@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;  /* Высота <body> равна высоте <html> */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #FEAFC3;
    /*background-color: #69A9FF;*/ /* Цвет при переключении слайда */
    /*background-color: #FCC850;*/ /* Цвет при переключении слайда */
    color: #2D3440;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.page-header {
    line-height: 20px;
    color: #2D3440;
    background-color: #FEAFC3;
    
    width: 1170px;
    margin: 0 auto;
    display: flex;
    padding: 24px 0px;
}

.navigation-logo {
    margin-right: 16px;
    display: block;
}

.navigation {
    display: flex;
    /*background-color: #69A9FF;*/ /* Цвет при переключении слайда */
    /*background-color: #FCC850;*/ /* Цвет при переключении слайда */
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 550px;
    margin-right: 36px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.navigation-link {
    display: block;
    color: inherit; /*Наследование от page-header*/
    text-decoration: none; /*Убирает подчёркивание*/
    padding: 8px 16px;
}

.navigation-link.active {
    color: #FCFCFC;
    background: #FF4A78;
    border-radius: 30px;
    display: block;
} 

.contacts-phone {
    display: block;
    margin-right: 16px;
    color: inherit; /*Наследование от page-header*/
    font-weight: 700;
    text-decoration: none;
}

.navigation-user-container {
    display: flex;
    align-items: center;
    width: 431px;
}

.navigation-user {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation-user-item {
    background: rgba(252, 252, 252, 0.3);
    border-radius: 30px;
    height: 32px;
    min-width: 32px;
}

.navigation-user-link{
    display: block;
    color: inherit; /*Наследование от page-header*/
    text-decoration: none;
    font-size: 14px;
    padding: 6px 16px;
}

.navigation-user-item:not(:last-child) {
    margin-right: 16px;
}

.navigation-user-link.search {
    padding: 8px;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

.slider {
    margin-bottom: 80px;
}

.slider-ice-cream{
    display: flex;
}

.slider-ice-cream-item {
    display: flex;
}

.slider-ice-cream-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-description {
    padding-left: 70px;
}

.slider-ice-cream-title {
    line-height: 46px;
    font-size: 36px;
    font-weight: 900;
    color: #2D3440;
    padding-top: 136px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 24px;
    width: 470px;
}

.slider-ice-cream-description{
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-size: 18px;
    color: #2D3440;
    width: 414px;
    margin-bottom: 48px;
}

.button-delivery {
    display: block;
    width: 139px;
    text-align: center;
    color: #2D3440;
    text-decoration: none;
    background-color: #FCFCFC;
    border-radius: 26px;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    background-clip: padding-box;
    padding: 12px 32px;
    box-sizing: border-box;
}

.slider-container-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 628px;
}

.navigation-button-list {
    margin: 0;
    padding: 0;
}

.slider-navigation-social {
    display: flex;
    justify-content: space-between;
}

.navigation-points-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.navigation-points-item:not(:last-child) {
    margin-right: 8px;
}

.social-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.social-item {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.social-item:nth-child(3n) {
    margin-right: 0;
}


.present {
    width: 1170px;
    margin-bottom: 80px;
}

.present-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.present-list-item {
    background: #FF7799;
    border-radius: 16px;
    width: 570px;
    padding: 36px;
}

.present-list-item:not(:last-child) {
    margin-right: 30px;
}

.present-title {
    padding: 0;
    line-height: 46px;
    font-size: 32px;
    font-weight: 900;
    color: #2D3440;
    text-align: center;
    max-width: 434px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.present-title-description {
    margin: 0;
    line-height: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #2D3440;
    margin-bottom: 28px;
    max-width: 351px;
}

.present-description {
    margin: 0;
    padding: 0;
    color: #2D3440;
    margin-bottom: 28px;
    max-width: 351px;
}

.button-white-present {
    text-align: center;
    color: #2D3440;
    text-decoration: none;
    background: #FCFCFC;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    background-clip: padding-box;
    padding: 12px 32px;
    display: inline-block;
}

.popular-product {
    width: 1170px;
    margin-bottom: 80px;
}

.popular-product-title {
    padding: 0;
    line-height: 46px;
    font-size: 32px;
    font-weight: 900;
    color: #2D3440;
    text-align: center;
    max-width: 527px;
    margin: 0 auto;
    margin-bottom: 105px;
}

.popular-product-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.product-card-link {
    display: block;
    text-decoration: none;
}

.product-card-title {
    padding: 0;
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    color: #2D3440;
    text-align: center;
    max-width: 190px;
    margin-bottom: 8px;
}

.product-card-description {
    padding: 0;
    color: #565C66;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 190px;
}

.product-card-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-price {
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    color: #2D3440;
    min-width: 90px;
}

.button-add-bascet {
    display: block;
    background: #FF2F64;
    border-radius: 26px;
    width: 32px;
    height: 32px;
}

.about-magazine {
    background-color: #ffffff;
    background-image: url("../images/index/background-about-magazine.jpg");
    background-size: 100% auto;
    border-radius: 16px;
    width: 1170px;
    margin-bottom: 80px;
    padding: 24px;
    box-sizing: border-box;
}

.about-magazine-info {
    background: #FFFFFF;
    border-radius: 16px;
    width: 1122px;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.about-magazine-title {
    padding: 0;
    line-height: 46px;
    font-size: 32px;
    font-weight: 900;
    color: #2D3440;
    text-align: center;
    width: 995px;
    margin: 0 auto;
    margin-bottom: 56px;
}

.about-magazine-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.about-magazine-item {
    margin-right: 31px;
    width: 505px;
}

.about-magazine-item:nth-child(2n) {
    margin-right: 0;
}

.about-magazine-description {
    margin: 0;
    padding: 0;
    color: #565C66;
    width: 442px;
    margin-left: auto;
}

.news-container{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.news {
    color: #2D3440;
    background-color: #ffffff;
    background-image: url("../images/index/background-news.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 16px;
    width: 570px;
    padding-left: 32px;
    padding-top: 33px;
    padding-bottom: 67px;
    margin-right: 30px;
}

.news-description {
    margin: 0;
    padding: 0;
    line-height: 20px;
    color: #565C66;
    width: 170px;
    margin-bottom: 12px;
}

.news-link {
    text-decoration: none;
}

.news-title {
    padding: 0;
    margin: 0;
    line-height: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #2D3440;
    width: 303px;
}

.subscription {
    background-color: #ffffff;
    background-image: url("../images/index/background-subscription.jpg");
    background-size: 100% auto;
    border-radius: 16px;
    width: 570px;
    padding: 6px;
}

.subscription-container {
    background: #FFFFFF;
    border-radius: 16px;
    width: 558px;
    padding: 26px;
    box-sizing: border-box;
}

.subscription-info {
    padding: 0;
    margin: 0;
    color: #565C66;
    width: 506px;
    margin-bottom: 44px;
}

.subscription-form {
    display: flex;
    width: 506px;
}

.subscription-description {
    margin-right: 14px;
}

.delivery {
    display: flex;
    box-sizing: border-box;
    color: #2D3440;
    background-color: #ffffff;
    background-image: url("../images/index/background-delivery.jpg");
    background-size: 100% auto;
    border-radius: 16px;
    width: 1170px;
    padding: 64px;
    margin-bottom: 80px;
    padding-left: 100px;
}

.delivery-title-description-container {
    width: 371px;
    margin-right: 135px;
}

.delivery-title {
    padding: 0;
    margin: 0;
    color: #2D3440;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    width: 356px;
    margin-bottom: 24px;
    padding-top: 103px;
}

.delivery-description {
    padding: 0;
    margin: 0;
    color: #565C66;
    width: 371px;
}

.delivery-form {
    background-color: #FCFCFC;
    width: 500px;
    padding-top: 40px;
    padding-bottom: 42px;
    border-radius: 8px;
    padding: 40px;
    padding-bottom: 42px;
    box-sizing: border-box;
}

.delivery-form-description {
    padding: 0;
    margin: 0;
    color: #565C66;
    width: 380px;
    margin-bottom: 32px;
}

.delivery-label {
    color: #2D3440;
    font-weight: 700;
    line-height: 20px;
}

.delivery-input {
    color: #B9B9B9;
    line-height: 20px;
}

.delivery-address {
    margin-bottom: 32px;
}

.button-send {
    text-align: center;
    color: #FCFCFC;
    text-decoration: none;
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;    
    background-clip: padding-box;
    padding: 12px 32px;
}

.magazine-info {
    color: #2D3440;
    background-color: #ffffff;
    background-image: url("../images/index/background-feedback.jpg");
    background-size: 100% auto;
    border-radius: 16px;
    height: 492px;
    padding: 64px;
    padding-right: 763px;
    box-sizing: border-box;
}

.magazine-address-and-feedback {
    background-color: #FCFCFC;
    width: 343px;
    border-radius: 8px;
    padding: 40px;
    box-sizing: border-box;
}

.address-description {
    padding: 0;
    margin: 0;
    color: #565C66;
    width: 179px;
    margin-bottom: 12px;
}

.magazine-address {
    padding: 0;
    margin: 0;
    color: #2D3440;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    width: 263px;
    margin-bottom: 24px;
}

.order-description {
    padding: 0;
    margin: 0;
    color: #565C66;
    width: 203px;
    margin-bottom: 12px;
}

.magazine-info-contacts-phone {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #2D3440;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.order-time {
    padding: 0;
    margin: 0;
    color: #565C66;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 32px;
}

.button-feedback {
    text-align: center;
    color: #FCFCFC;
    text-decoration: none;
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    background-clip: padding-box;
    padding: 12px 32px;
}

.page-footer-container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer-social {
    width: 104px;
    margin-right: 299px;
}

.footer-social-item {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.for-suppliers {
    font-size: 14px;
    line-height: 20px;
    width: 356px;
    margin-right: 200px;
}

.for-suppliers-description {
    font-weight: 700;
    color: #2D3440;
}

.for-suppliers-link {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.for-suppliers-link a {
    text-decoration: none;
    color: #2D3440;
}

.footer-developers {
    width: 193px;
}

.footer-developers-description {
    font-size: 12px;
    line-height: 16px;
    color: #2D3440;
}

.footer-developers-logo-link {
    width: 93px;
    margin-bottom: 14px;
}

.footer-developers-link {
    color: #2D3440;
}

/* Каталог */

.inner-header {
    padding-top: 32px;
    margin-bottom: 40px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}

.breadcrumbs-link {
    margin-right: 28px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.breadcrumbs-link.active {
    text-decoration: underline;
    color: #2D3440;
}

.inner-header-title {
    padding: 0;
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    color: #2D3440;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
}

.catalog-filter {
    width: 823px;
    margin-bottom: 44px;
}

.catalog-filter-title {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.select-control {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.catalog-filter-item {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    list-style: none;
}

.button-filter-apply {
    text-align: center;
    font-size: 14px;
    color: #2D3440;
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    border-radius: 20px;
    background-clip: padding-box;
    padding: 8px 32px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 1170px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.product-card {
    background: #FCFCFC;
    border-radius: 8px;
    width: 270px;
    min-height: 281px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.product-card-image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: -50px;
    margin-bottom: 20px;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    padding-top: 41px;
    padding-bottom: 41px;
}

.pagination {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.button-pagination {
    margin-right: 335px;
}

.button-pagination-show-more {
    text-align: center;
    color: #2D3440;
    background: #FCFCFC;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    background-clip: padding-box;
    min-width: 179px;
    min-height: 44px;
    padding: 12px 32px;
}

.pagination {
    width: 168px;
}

.pagination-link {
    text-decoration: none;
    line-height: 20px;
    color: #2D3440;
}

.pagination-link.pagination-current {
    background-color: #FCFCFC;
    border-radius: 76px;
    width: 24px;
    height: 24px;
    padding: 2px 8px;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}